<?xml version="1.0" encoding="UTF-8" ?><rss version="2.0">
                    <channel>
                    <title>Asheville For All - Upcoming Events</title>
                    <link>https://ashevilleforall.org/events.html</link>
                    <description>Upcoming events for Asheville For All, WNC’s chapter of YIMBY Action.</description><item>
                    <title>August Meetup</title>
                    <link>https://ashevilleforall.org/2025-08-28-meetup.html</link><guid>https://ashevilleforall.org/2025-08-28-meetup.html</guid>
                    <description><a href="https://ashevilleforall.org/2025-08-28-meetup.html">Click to visit site.</a></description>
                    <pubDate>Mon, 04 Aug 2025 13:00:00 -0400</pubDate>
                    </item></channel></rss>