body{
    padding-top:20px;
}

a{
    color: #298C6C;
}
a:hover{
    color: #DA806A;
}

.footer{
    margin-top:6rem;
    background-color:black;
    color:lightgray;
    padding-top:5rem;
    padding-bottom:7rem;
}

.footer a{
    color:gray;
}
.footer a:visited{
    color:gray;
}

.container{
    max-width:40rem;
}

h1{
    color:#298C6C;
}

.subtitle{
    color:#DA806A;
}

nav{
    margin-bottom:20px;
}

.nav-link:hover
{
    text-decoration: underline;
}

figure{
    margin-top:10px;
}

#asheville-photo{
    max-width:100%;
    max-height:480px;
    height:auto;
    border-top:20px;
    border-bottom:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-item.active{
    background-color:#DA806A;
}

/* Remove the Action Network Logo */
.can_embed #logo_wrap {
	display: none !important;
}

/* Button Background Color */
.can_embed .can_button,
.can_embed #can_embed_form input[type="submit"],
.can_embed #can_embed_form .button,
.can_embed #donate_auto_modal input[type="submit"],
.can_embed #donate_auto_modal .button {
	background-color: #298C6C !important;
}

/* Button Background Color on Hover */
.can_embed .can_button:hover,
.can_embed #can_embed_form input[type="submit"]:hover,
.can_embed #can_embed_form .button:hover,
.can_embed #donate_auto_modal input[type="submit"]:hover,
.can_embed #donate_auto_modal .button:hover {
	background-color: #DA806A !important;
}