
a{
    color: #298C6C;
}
a:hover{
    color: #DA806A;
}

header{
    margin-top:20px;
    padding-top:10px;
}

.footer{
    margin-top:6rem;
    background-color:black;
    color:lightgray;
    padding-top:5rem;
    padding-bottom:7rem;
}

.footer a{
    color:gray;
}
.footer a:visited{
    color:gray;
}

.container{
    max-width:40rem;
}

.footer .container{
    max-width:25rem;
}

h1{
    color:#298C6C;
}

h2{
    margin-bottom:1rem;
    margin-top:1rem;
}

.subtitle{
    color:#DA806A;
}

nav{
    margin-bottom:20px;
}

.nav-link:hover
{
    text-decoration: underline;
}

figure{
    margin-top:10px;
}

#asheville-photo{
    max-width:100%;
    max-height:480px;
    height:auto;
    border-top:20px;
    border-bottom:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-item.active{
    background-color:#DA806A;
}

/* Remove the Action Network Logo */
.can_embed #logo_wrap {
	display: none !important;
}

/* Button Background Color */
.can_embed .can_button,
.can_embed #can_embed_form input[type="submit"],
.can_embed #can_embed_form .button,
.can_embed #donate_auto_modal input[type="submit"],
.can_embed #donate_auto_modal .button {
	background-color: #298C6C !important;
}

/* Button Background Color on Hover */
.can_embed .can_button:hover,
.can_embed #can_embed_form input[type="submit"]:hover,
.can_embed #can_embed_form .button:hover,
.can_embed #donate_auto_modal input[type="submit"]:hover,
.can_embed #donate_auto_modal .button:hover {
	background-color: #DA806A !important;
}

#back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px darkgray solid; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; /* Set a background color */
    color: white; /* Text color */
    opacity:0.8;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1rem; /* Increase font size */
  }
  
  #back-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  #action-banner{
    color:white;
    background-color:#298C6C;
    padding:1rem;
    margin-bottom:5em;
    margin-top:0px;
  }
  #action-banner a{
color:white;
  }
  #action-banner a:visited{
    color:white;
  }