.response{
    padding:1em;
    margin-top:1em;
    margin-bottom:1em;
}
.response:nth-child(odd){
    background-color: #def5ee;
}
.response:nth-child(even){
    background-color: rgb(250, 238, 235);
}

.response p:first-child{
    font-size: smaller;
    font-weight: bold;
}

.question{
    margin-top:1em;
    margin-bottom:1em;
    padding-top:1em;
    padding-bottom:1em;
}

#filter-button{
  position: fixed;
  bottom:1rem;
  left:1rem;
  border-radius: 0.25em;
  border: 1px gray solid;
  background-color: white;
}

@media screen and (min-width: 65rem) {
#filter-button{
  left: 20%;
}
}