vote-list-outer, title-outer, title-buttons-outer{
    display:block;
}

council-list-outer{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    max-height:100%;
    justify-content: center;
    gap:0.2rem;
    box-sizing:content-box;
}

h1, h2, h3{
    color: gray;
    font-style: normal; 
    font-size: medium;
}
.card h3{
    margin-top:0.5rem;
}

tracker-outermost{
    display:flex;
    position:fixed;
    height:100%;
    width:100%;
    flex-direction:column;
}
tracker-frame{
    padding:.8rem;
    display:block;
  }
  #tracker-frame-1{
    padding-top:0;
    max-height:6rem;
    min-height:3rem;
    height:12%;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    width:auto;
    border-bottom:1px solid gray;
    overflow:hidden;
    box-sizing:content-box;
  }
  #tracker-frame-2{
    overflow: scroll;
    background-color: hsl(161, 55%, 96%);
  }
  #tracker-frame-3{
    max-height:12rem;
    min-height:5rem;
    height: 20%;
    border-top:1px solid gray;
    overflow-y: hidden;
    overflow-x: scroll;
    box-sizing: content-box;
  }

#tracker-frame-2 .card, #tracker-frame-3 .profile-pic-outer{
    cursor: pointer;
}

.card-footer{
    background-color:transparent;
    border-top: 0px;
}
.type{
    font-weight:400;
}

.profile-pic-outer{
    width: 100%;
    max-width:6rem;
    max-height:100%;
    aspect-ratio: 1/ 1;
    padding:0.25rem;
    border-radius:25%;
    box-sizing: content-box;
}
.profile-pic-inner{
    aspect-ratio: 1/1;
    width:100%;
    margin:auto;
    border-radius: 25%;
    background-size:cover;
    background-position: 50% 50%;
    box-sizing: content-box;
}

.vote-date{
    color: #DA806A;
    font-size:small;
}
.vote-icons img{
    width: 1.5rem;
    margin:0.25rem;
}

.vote-viz{
    display:flex;
    flex-wrap:wrap;
    vertical-align: middle;
    align-items: center;
    margin:1em 2px;
    border-radius:5px;
    padding: 1em;
    position: relative;
}
.mini-pic{
border:1px solid gray;
border-radius:25%;
margin-left:-0.7em;
width:2.5rem;
aspect-ratio: 1 / 1;
background-color: green;
background-size: cover;
background-position: 50% 50%;
}
.vote-viz-label{
    font-size:small;
    font-size:small;
    position:absolute;
    top:-0.9em;
    background-color:white;
    padding: 0 0.5em;
    margin-left: 1em;
}

.vote-viz-green{
    border: green solid 0.5px;
  }
  .vote-viz-red{
    border: red solid 0.5px;
  }

#loading-bar-one{
background-color: #DA806A;
}
#loading-bar-two{
    background-color:#298C6C;
}

.title-bar-svg{
    width:1.25em;height:1.25em;fill:#298C6C;vertical-align: -0.125em;
}

#tracker-frame-1 .btn{
    border:0px;
}

.voteLinkListImg{
    width:1.5rem;
    vertical-align: -0.125em;
}

.side-panel-lateral-navs{
    font-size:small;
}