vote-list-outer, title-outer, title-buttons-outer{
    display:block;
}

council-list-outer{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    height:4rem;
    gap:0.2rem;

}

h1, h2, h3{
    color: gray;
    font-style: normal; 
    font-size: medium;
}
.card h3{
    margin-top:0.5rem;
}

tracker-outermost{
    display:flex;
    position:fixed;
    height:100%;
    width:100%;
    flex-direction:column;
}
tracker-frame{
    padding:.5rem;
    display:block;
  }
  #tracker-frame-1{
    padding-top:0;
    height:3rem;
    min-height:3rem;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    width:auto;
    border-bottom:1px solid gray;
    overflow:hidden;
  }
  #tracker-frame-2{
    overflow: scroll;
    background-color: hsl(161, 55%, 96%);
  }
  #tracker-frame-3{
    height:5rem;
    min-height:5rem;
    border-top:1px solid gray;
    overflow-y: hidden;
    overflow-x: scroll;
    position:relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #tracker-frame-3::-webkit-scrollbar {
  display: none;
}
  .horiz-scroll-arrow{
    position:absolute;
    bottom:1.75rem;

  }
  .horiz-scroll-arrow svg{
    box-shadow: 0 0 2px 2px white;
    background-color:white;
  }

  #horizontal-scroll-arrow-right{
    right:0.5rem;
  }
    #horizontal-scroll-arrow-left{
    left:0.5rem;
  }

#tracker-frame-2 .card, #tracker-frame-3 .profile-pic-outer{
    cursor: pointer;
}

#tracker-frame-2 .card-body{
    padding:8px;
    margin-top:-16px;
}

.card-footer{
    background-color:transparent;
    border-top: 0px;
}
.type{
    font-weight:400;
}

.profile-pic-outer{
    height:4rem;
    aspect-ratio: 1/ 1;
    padding:0.25rem;
    border-radius:25%;
    position:relative;
}
.profile-pic-inner{
    aspect-ratio: 1/1;
    width:100%;
    margin:auto;
    border-radius: 25%;
    background-size:cover;
    background-position: 50% 50%;
}

.vote-date{
    color: #DA806A;
    font-size:small;
}
.vote-icons img{
    width: 1.5rem;
    margin:0.25rem;
}

.vote-viz{
    display:flex;
    flex-wrap:wrap;
    vertical-align: middle;
    align-items: center;
    margin:1em 2px;
    border-radius:5px;
    padding: 0.7em 1em;
    position: relative;
}
.mini-pic{
border:1px solid gray;
border-radius:25%;
margin-left:-0.7em;
width:2.5rem;
aspect-ratio: 1 / 1;
background-color: green;
background-size: cover;
background-position: 50% 50%;
}
.vote-viz-label{
    font-size:small;
    font-size:small;
    position:absolute;
    top:-0.9em;
    background-color:white;
    padding: 0 0.5em;
    margin-left: 1em;
}

.vote-viz-green{
    border: green solid 0.5px;
  }
  .vote-viz-red{
    border: red solid 0.5px;
  }
    .vote-viz-neutral{
    border: gray solid 0.5px;
  }

.sidePaneInfoBar{
    display:flex;
    align-items:center;
    gap:0.5rem;
}
.sidePaneInfoBar > *{
    vertical-align: middle !important;
    align-self: center !important;
}

#loading-bar-one{
background-color: #DA806A;
}
#loading-bar-two{
    background-color:#298C6C;
}

.title-bar-svg{
    width:1.25em;height:1.25em;fill:#298C6C;vertical-align: -0.125em;
}

#tracker-frame-1 .btn{
    border:0px;
}

#voteItemRecordDetailOuter .header-row{
    margin-top:1rem;
}

.voteLinkListImg{
    width:1.5rem;
    vertical-align: -0.125em;
}

.side-panel-lateral-navs{
    font-size:small;
}

.highlight-red{
    animation-name: highlight-red;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.highlight-green{
    animation-name: highlight-green;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.highlight-orange{
    animation-name: highlight-orange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes highlight-red{
    from {box-shadow: none;}
    to {box-shadow: 0px 0px 2px 2px pink,
        inset 0px 0px 5px 5px pink;}
}

@keyframes highlight-green{
    from {box-shadow: none;}
    to {box-shadow: 0px 0px 2px 2px lightgreen,
        inset 0px 0px 5px 5px lightgreen;}
}

@keyframes highlight-orange{
    from {box-shadow: none;}
    to {box-shadow: 0px 0px 2px 2px orange,
        inset 0px 0px 5px 5px orange;}
}

#highlight-mode{
    position:fixed;
    bottom:1rem;
    right:1rem;
    border-radius:0.5rem;
    box-shadow:0px 0px 2px black;
    padding:1rem;
    border:1px solid gray;
    background-color:white;
}

#divider{
    width:1px;
    height:2.5rem;
    border:1px solid gray;
    margin-left:0.5rem;
    margin-right:0.5rem;
    align-self:center;
}

.clock-badge{
    position:absolute;
    height: 1.7rem;
    width: 1.7rem;
    top:2.7rem;
    left:-0.45rem;
}
.asterisk-badge{
    position:absolute;
    height: 1.7rem;
    width: 1.7rem;
    bottom:2.7rem;
    right:-0.45rem;
}

.gauge-icon{
    display:inline-block;
    background-position: 50% 50%;
}

.gauge-icon-outer{
    vertical-align:center;
    float:right;
    border-radius:0.2rem;
    border:0.5px solid gray;
    background:white;
    padding:0px;
}

#h2h-header-row{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 255),rgba(255, 255, 255, 255),rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));
}

.trophy-basic{
    background-position: 50% 50%;
    mask: url(/img/tracker-imgs/trophy-fill.svg);
    background-color:gray;
    height: 2rem;
    aspect-ratio: 1 / 1;
    mask-size: cover;
    margin-left:auto;
    margin-right:auto;
}

.trophy-minimal{
    background-position: 50% 50%;
    mask: url(/img/tracker-imgs/trophy-fill.svg);
    background-color:rgb(191, 191, 191);
    height: 2rem;
    aspect-ratio: 1 / 1;
    mask-size: cover;
    margin-left:auto;
    margin-right:auto;
}

.trophy-plus{
    background-position: 50% 50%;
    mask: url(/img/tracker-imgs/trophy-fill.svg);
    background: conic-gradient(from var(--rotate), green, greenyellow, green, greenyellow);
    height: 2rem;
    aspect-ratio: 1 / 1;
    mask-size: cover;
    margin-left:auto;
    margin-right:auto;
    animation-name: trophy-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.trophy-plus-minimal{
    background-position: 50% 50%;
    mask: url(/img/tracker-imgs/trophy-fill.svg);
    background: conic-gradient(from var(--rotate), gray, yellow, gray, yellow);
    height: 2rem;
    aspect-ratio: 1 / 1;
    mask-size: cover;
    margin-left:auto;
    margin-right:auto;
    animation-name: trophy-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes trophy-anim{
    from {
    --rotate: 0deg;}
    to {
    --rotate: 360deg;}
}

#h2h-container .profile-pic-inner{
    max-width:4rem;
}

#dialog-h2h-item-detail:open{
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
    overflow:hidden;
    max-height:100vh;
    max-width:100vw;
}
#h2h-item-detail-body{
    flex-grow: 1;
    overflow-y: auto;
    padding-top:2rem;
}

.dialog-bottom:open{
    height: 40vh;
    bottom:0px;
    left:0px;
    margin-bottom:0px;
    border-radius:0.3rem 0.3rem 0px 0px;
}
.dialog-bottom:open .dialog-body{
    max-width:50rem;
}
.dialog-body{
    align-self:center;
}
.councilor-dialog-title{
    align-self:center;
}

.scrollGradient {
  background: 
    linear-gradient(#ffffff 33%, rgba(255,255,255, 0)),
    linear-gradient(rgba(255,255,255, 0), #ffffff 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0, 0.5), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0, 0.5), rgba(0,0,0,0)) 0 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 24px, 100% 24px, 100% 8px, 100% 8px;
}